﻿@using Oneness.Localization.Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Html.Raw("ApplicationTitle".Translate())</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Oneness".Translate(), "Take", "Quiz", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("HomeLink".Translate(), "Index", "Home")</li>
                    <li>@Html.ActionLink("AboutLink".Translate(), "About", "Home")</li>
                    <li>@Html.ActionLink("ContactLink".Translate(), "Contact", "Home")</li>
                </ul>
                <form class="navbar-form pull-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>

        </div>
    </div>

    <div class="container" role="main">
        <div class="row">
            <div class="jumbotron">
                <h1>@Html.Raw("Oneness".Translate())!</h1>
                <p>@Html.Raw("SiteSlogan".Translate())</p>
            </div>
        </div>
        <div class="row">
            @RenderBody()
        </div>
        <footer>
            <p>
                @Html.Raw("Lampiclobe".Translate())&copy;@DateTime.Now.Year - @Html.Raw("ApplicationTitle".Translate())
            </p>
        </footer>
    </div>

    <div class="spinning-modal"></div>
    <a href="#" class="hidden" id="bootstrap-modal-trigger"
       data-toggle="modal"
       data-target="#bootstrap-modal"></a>
    <div class="modal fade" id="bootstrap-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="bootstrap-modal-header" class="modal-header has-success">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title lampic-text-primary-glow" id="modal-title">Modal title</h4>
                </div>
                <div class="modal-body row">
                    <div class="col-md-2 col-xs-6"><img id="img-modal-body" src="" alt="verified" /></div>
                    <div class="col-md-7 col-xs-6"><h3 id="modal-body">Modal Body</h3></div>
                </div>
                <div class="modal-footer">
                    <button id="modal-body-close" type="button" class="btn btn-default" data-dismiss="modal">@Html.Raw("CancelSubmit".Translate())</button>
                    <button id="modal-body-save" type="button" class="btn btn-primary">@Html.Raw("CommitSubmit".Translate())</button>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryunobst")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
