﻿<button data-bind="click: $parent.removeItem" class="btn btn-danger input-control col-md-offset-1">Delete Item</button>
<button data-bind="click: $parent.updateItem" class="btn btn-success input-control col-md-offset-1">Update Item</button>
<div class="btn-group input-control col-md-offset-1" data-bind="visible: CommandButtonExists">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Details Of<span class="caret"></span></button>
	<ul class="dropdown-menu" role="menu" data-bind="foreach: RelatedModels">
		<li><a href="#" data-bind="{ text: Model, click: $root.detailsItem.bind($data)}"></a></li>
	</ul>
</div>