﻿<div class="modal fade" id="modalNewItem" data-bind="with: FormData">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only" data-bind="text: Close"></span>
				</button>
				<h4 class="modal-title" data-bind="text: ModalTitle"></h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="form-group" data-bind="{ foreach: InputFields, visible: $root.InputFieldsExist }">
						<div class="form-group">
							<label data-bind="{ text: label, attr: { for: inputID } }"></label>
							<input class="form-control" data-bind="{ value: inputValue, attr: { id: inputID, placeholder: inputPlaceholder, type: inputType } }">
						</div>
					</div>
					<div class="btn-group-justified" data-bind="{ foreach: OptionFields, visible: $root.OptionFieldsExist }">
						<div class="btn-group">
							<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-bind="{ html: OptionTitle, attr: { id: OptionID } }"></button>
							<ul class="dropdown-menu" role="menu" data-bind="{ foreach: Options, attr: { 'aria-labelledby': OptionID } }">
								<li role="presentation">
									<a role="menuitem" tabindex="-1" data-bind="{ text: TextValue, attr: { 'data-ll-id': DataValue } }" href="#"></a>
								</li>
							</ul>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" data-bind="text: Close"></button>
				<button type="button" class="btn btn-primary" data-bind="text: SaveChanges"></button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg hide" id="buttonModalNewItem" data-toggle="modal" data-target="#modalNewItem" />