﻿@using Oneness.ViewModel.EntityViewModels.QuizViewModels;
@using Oneness.Localization.Resources;
@using Shared.Extensions.Core;
@using GridMvc.Html;

@model IEnumerable<ManifestViewModel>

@{
    ViewBag.Title = "Manifests Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var nullDiff = "manifest-0";
}

@Html.Partial("ManifestForm", new ManifestViewModel())

<div class="page-header col-lg-10 col-lg-offset-1">
    <h2>@Html.Raw("CurrentManifests".Translate())</h2>
    <button type="button" class="btn btn-sm pull-right" aria-label="Right Align" onclick="return ShowForm('@nullDiff');">
        @Html.Raw("AddNewManifest".Translate())
        <span class="glyphicon glyphicon-align-right glyphicon-star" aria-hidden="true"></span>
    </button>
</div>

<div class="well-lg col-lg-10 col-lg-offset-1">
    <div id="warning-manifest-delete" class="alert pull-left" role="alert">

    </div>
    @Html.Grid(Model).Columns(columns => {
    columns.Add(item => item.ID).Titled("ManifestGridIDColumnTitle".Translate())
        .SetWidth(90).Sortable(true);
    columns.Add(item => item.LanguageViewModel.Name)
        .Titled("ManifestLanguageTitle".Translate())
        .SetWidth(60)
        .Sortable(true);
    columns.Add(item => item.SentenceViewModel.Text)
        .Titled("ManifestSentenceTitle".Translate())
        .SetWidth(340)
        .Sortable(true);
    columns.Add()
        .Titled("AvailableCommands".Translate())
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(vm => @Html.Partial("AvailableManifestCommands", vm));

}).WithPaging(20).Named("LanguagesGrid")
</div>
