﻿@using Oneness.MVC.Areas.Residence.Models
@model ProjectItem

@{
    ViewBag.Title = "ONENESS | Project Details";
    Layout = "~/Areas/Residence/Views/Shared/_ResidenceLayoutPage.cshtml";
}

<div class="row">
    <div class="col-lg-9">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <a href="#" class="btn btn-white btn-xs pull-right">Edit project</a>
                                <h2>@Model.ProjectTitle</h2>
                            </div>
                            <dl class="dl-horizontal">
                                <dt>Status:</dt>
                                <dd><span class="label @Model.StatusLabelClass">@Model.StatusText</span></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <dl class="dl-horizontal">

                                <dt>Created by:</dt>
                                <dd>@Model.ReleasedBy.AssociatedProfile.Identity</dd>
                                <dt>Messages:</dt>
                                <dd>  @Model.MessagesCount</dd>
                                <dt>Client:</dt>
                                <dd><a href="#" class="text-navy"> @Model.Client.Title</a> </dd>
                                <dt>Version:</dt>
                                <dd> 	@Model.Version </dd>
                            </dl>
                        </div>
                        <div class="col-lg-7" id="cluster_info">
                            <dl class="dl-horizontal">

                                <dt>Last Updated:</dt>
                                <dd>@Model.LastUpdatedOn</dd>
                                <dt>Created:</dt>
                                <dd> 	@Model.ReleasedOn </dd>
                                <dt>Participants:</dt>
                                <dd class="project-people">
                                    @foreach (var participant in Model.Participants) {
                                        <a href="#"><img alt="image" class="img-circle" src="@participant.AssociatedProfile.Avatar.Base64"></a>
                                    }
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>Completed:</dt>
                                <dd>
                                    <div class="progress progress-striped active m-b-sm">
                                        <div style="width: @(Model.CompletionPercent)%;" class="progress-bar"></div>
                                    </div>
                                    <small>Project completed in <strong>@(Model.CompletionPercent)%</strong>. Remaining close the project, sign a contract and invoice.</small>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab-1" data-toggle="tab">Users messages</a></li>
                                            <li class=""><a href="#tab-2" data-toggle="tab">Last activity</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel-body">

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-1">
                                            @using (Ajax.BeginForm("activities", "project", new { id = Model.ID }
                                            , new AjaxOptions() {
                                                HttpMethod = "POST", UpdateTargetId = "activities-container", InsertionMode = InsertionMode.InsertAfter
                                            })) {
                                                <div class="feed-activity-list" id="activities-container">
                                                    @Html.Partial("_Activities", SResidenceProvider.ActivitiesOfProjectItem(Model.ID))
                                                </div>

                                                <button type="submit" class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> Show More</button>
                                            }
                                        </div>
                                        <div class="tab-pane" id="tab-2">

                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Status</th>
                                                        <th>Title</th>
                                                        <th>Start Time</th>
                                                        <th>End Time</th>
                                                        <th>Comments</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.ProjectTimeline) {
                                                        <tr>
                                                            <td>
                                                                <span class="label label-primary"><i class="fa fa-check"></i> @item.StatusText</span>
                                                            </td>
                                                            <td>
                                                                @item.Title
                                                            </td>
                                                            <td>
                                                                @item.StartTime
                                                            </td>
                                                            <td>
                                                                @item.EndTime
                                                            </td>
                                                            <td>
                                                                <p class="small">
                                                                    @item.Comment
                                                                </p>
                                                            </td>

                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="wrapper wrapper-content project-manager">
            <img src="@Model.ProjectLogo.Base64" class="img-responsive">
            <p class="small">
                @Model.ProjectDescription
            </p>
            <p class="small font-bold">
                <span><i class="fa fa-circle text-warning"></i> @Model.PriorityText</span>
            </p>
            <h5>Project tag</h5>
            <ul class="tag-list" style="padding: 0">
                @foreach (var label in Model.ProjectLabels) {
                    <li>
                        <a href="#"><i class="fa fa-tag"></i> @label.Description</a>
                    </li>
                }
            </ul>
            <h5>Project files</h5>
            <ul class="list-unstyled project-files">
                @foreach (var attachment in Model.ProjectAttachments) {
                    if (String.IsNullOrEmpty(@attachment.FontAwesomeClass)) {
                        <li><a href="#"><i class="fa fa-file"></i> @attachment.RealFileName</a></li>
                    } else {
                        <li><a href="#"><i class="fa @attachment.FontAwesomeClass"></i> Project_document.docx</a></li>
                    }
                }
            </ul>
            <div class="text-center m-t-md">
                <a href="#" class="btn btn-xs btn-primary">Add files</a>
                <a href="#" class="btn btn-xs btn-primary">Report contact</a>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/residence/ajax")
    <script>
        $(document).ready(function () {

            $('#loading-example-btn').click(function () {
                btn = $(this);
                simpleLoad(btn, true)

                // Ajax example
                //                $.ajax().always(function () {
                //                    simpleLoad($(this), false)
                //                });

                simpleLoad(btn, false)
            });
        });

        function simpleLoad(btn, state) {
            if (state) {
                btn.children().addClass('fa-spin');
                btn.contents().last().replaceWith(" Loading");
            } else {
                setTimeout(function () {
                    btn.children().removeClass('fa-spin');
                    btn.contents().last().replaceWith(" Refresh");
                }, 2000);
            }
        }
    </script>
}
