﻿@using Oneness.MVC.Areas.Residence.Models
@model IEnumerable<ProjectItem>

@{
    ViewBag.Title = "ONENESS | Projects";
    Layout = "~/Areas/Residence/Views/Shared/_ResidenceLayoutPage.cshtml";
}
@section Scripts {
    <script>
        $(document).ready(function () {

            $('#loading-example-btn').click(function () {
                btn = $(this);
                simpleLoad(btn, true)

                // Ajax example
                //                $.ajax().always(function () {
                //                    simpleLoad($(this), false)
                //                });

                simpleLoad(btn, false)
            });
        });

        function simpleLoad(btn, state) {
            if (state) {
                btn.children().addClass('fa-spin');
                btn.contents().last().replaceWith(" Loading");
            } else {
                setTimeout(function () {
                    btn.children().removeClass('fa-spin');
                    btn.contents().last().replaceWith(" Refresh");
                }, 2000);
            }
        }
    </script>
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Project list</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index-2.html">Home</a>
            </li>
            <li class="active">
                <strong>Project list</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>All projects assigned to this account</h5>
                    <div class="ibox-tools">
                        <a href="#" class="btn btn-primary btn-xs">Create new project</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-1">
                            <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
                        </div>
                        <div class="col-md-11">
                            <div class="input-group">
                                <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="project-list">

                        <table class="table table-hover">
                            <tbody>
                                @foreach (var project in Model) {
                                    <tr>
                                        <td class="project-status">
                                            <span class="label @project.StatusLabelClass">@project.StatusText</span>
                                        </td>
                                        <td class="project-title">
                                            <a href="@Url.Action("detail", "project", new { id = @project.ID })">@project.ProjectTitle</a>
                                            <br />
                                            <small>Released @project.ReleasedOn</small>
                                        </td>
                                        <td class="project-completion">
                                            <small>Completion with: @project.CompletionPercent%</small>
                                            <div class="progress progress-mini">
                                                <div style="width: @(project.CompletionPercent)%;" class="progress-bar"></div>
                                            </div>
                                        </td>
                                        <td class="project-people">
                                            @foreach (var participant in project.Participants) {
                                                <a href="#"><img alt="image" class="img-circle" src="@participant.AssociatedProfile.Avatar.Base64"></a>
                                            }
                                        </td>
                                        <td class="project-actions">
                                            <a href="@Url.Action("detail", "project", new { id = @project.ID })" class="btn btn-white btn-sm">
                                                <i class="fa fa-folder"></i> View 
                                            </a>
                                            @*<a href="#" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>