﻿@using Oneness.ViewModel.EntityViewModels.QuizViewModels;
@using Oneness.Localization.Resources;
@using Shared.Extensions.Core;
@using GridMvc.Html;

@model IEnumerable<QuizViewModel>

@{
    ViewBag.Title = "Quiz Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var nullDiff = "quiz-0";
}

@Html.Partial("SentenceForm", new SentenceViewModel(), new ViewDataDictionary() { { "ModelName", "quiz" } })


<div class="page-header col-lg-6 col-lg-offset-3">
    <h2>@Html.Raw("CurrentQuizzes".Translate())</h2>
    <button type="button" class="btn btn-sm pull-right" aria-label="Right Align" onclick="return ShowForm('@nullDiff');">
        @Html.Raw("AddNewQuiz".Translate())
        <span class="glyphicon glyphicon-align-right glyphicon-star" aria-hidden="true"></span>
    </button>
</div>

<div class="well-lg col-lg-6 col-lg-offset-3">
    <div id="warning-quiz-delete" class="alert pull-left" role="alert">

    </div>
    @Html.Grid(Model).Columns(columns => {
    columns.Add(item => item.ID).Titled("LanguageGridIDColumnTitle".Translate())
        .SetWidth(90).Sortable(true);
    columns.Add(item => item.SentenceViewModel)
        .Titled("QuizTitle".Translate())
        .SetWidth(240)
        .Encoded(false)
        .Sanitized(false)
        .Sortable(true)
        .RenderValueAs(vm => @Html.Label(vm.SentenceViewModel.Text));
    columns.Add()
        .Titled("AvailableCommands".Translate())
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(vm => @Html.Partial("AvailableQuizCommands", vm));

}).WithPaging(20).Named("QuizzesGrid")
</div>
