﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/atrium/css")


</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">ON+</h1>

            </div>

            @RenderBody()
            <p class="m-t"> <small>ONENESS New Era Of Networking lampiclobe &copy; 2014</small> </p>

        </div>
    </div>

    @Scripts.Render("~/bundles/atrium/main")
    @Scripts.Render("~/bundles/atrium/ajax")
    @Scripts.Render("~/bundles/atrium/extra")


    @RenderSection("scripts", required: false)
    <script>
        var shortCutFunction = "warning";//"success, info, warning, error"
        var msg = "Your Request is Being Processed. This may take a while";
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "14000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        $(document).ajaxStart(function () {
            toastr[shortCutFunction](msg);
        });
        $(document).ajaxStop(function () {
            toastr.clear();
        });
        $(document).ready(function () {

            $('#button-submit').click(function () {
                btn = $(this);
                simpleLoad(btn);
            });
        });

        function simpleLoad(btn, staticLabel, spinLabel) {
            staticLabel = staticLabel || btn.text();
            spinLabel = spinLabel || 'Please Wait..';
            btn.children().addClass('fa-spin');
            btn.contents().last().replaceWith(" " + spinLabel);
            btn.attr('disabled');
            $(document).ajaxStop(function () {
                btn.removeAttr('disabled');
                btn.children().removeClass('fa-spin');
                btn.contents().last().replaceWith(" " + staticLabel);
            });
        }

    </script>

    @RenderSection("ModalDialog", required: false)
</body>
</html>
