﻿@using Oneness.MVC.Areas.Residence.Models
@model MailEntry

@{
    ViewBag.Title = "ONENESS | Compose Mail";
    Layout = "~/Areas/Residence/Views/Shared/_ResidenceLayoutPage.cshtml";
}
@section Scripts
{
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });


            $('.summernote').summernote();

        });
        var edit = function () {
            $('.click2edit').summernote({ focus: true });
        };
        var save = function () {
            var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
            $('.click2edit').destroy();
        };

    </script>

}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <a class="btn btn-block btn-primary compose-mail" href="@Url.Action("compose", "mail")">Compose Mail</a>
                        <div class="space-25"></div>
                        <h5>Folders</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            @foreach (var gfolder in SResidenceProvider.GenericFolders()) {
                                <li><a href="#"> <i class="fa @gfolder.FontAwesomeClass"></i> @gfolder.FolderName @Html.Raw(@gfolder.CountBadge) </a></li>
                            }
                        </ul>
                        <h5>Categories</h5>
                        <ul class="category-list" style="padding: 0">
                            @foreach (var category in SResidenceProvider.Categories()) {
                                <li><a href="#"> <i class="fa fa-circle text-@category.InfoClass"></i> @category.Description </a></li>
                            }
                        </ul>

                        <h5 class="tag-title">Labels</h5>
                        <ul class="tag-list" style="padding: 0">
                            @foreach (var tag in SResidenceProvider.MailTags()) {
                                <li><a href="#"><i class="fa fa-tag"></i> @tag.Description</a></li>
                            }
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 animated fadeInRight">
            <div class="mail-box-header">
                <div class="pull-right tooltip-demo">
                    <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to draft folder"><i class="fa fa-pencil"></i> Draft</a>
                    <a href="mailbox.html" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email"><i class="fa fa-times"></i> Discard</a>
                </div>
                <h2>
                    Compose mail
                </h2>
            </div>
            @using (@Html.BeginForm("compose", "mail", FormMethod.Post, new { @class = "form-horizontal" })) {

            <div class="mail-box">
                <div class="mail-body">
                    <form class="form-horizontal" method="get">
                        <div class="form-group">
                            @Html.LabelFor(m => m.To, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.To, new { @class = "form-control", type = "text" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Subject, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.From, new { @class = "form-control", type = "text" })
                            </div>
                        </div>
                    </form>
                </div>
                <div class="mail-text h-200">

                    @Html.TextAreaFor(m => m.MailBody, new { @class = "summernote" })

                    <div class="clearfix"></div>
                </div>
                <div class="mail-body text-right tooltip-demo">
                    <a href="mailbox.html" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Send"><i class="fa fa-reply"></i> Send</a>
                    <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email"><i class="fa fa-times"></i> Discard</a>
                    <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to draft folder"><i class="fa fa-pencil"></i> Draft</a>
                </div>
                <div class="clearfix"></div>
            </div>

            }
        </div>
    </div>
</div>
