﻿@using Oneness.MVC.Areas.Residence.Models
@using Oneness.MVC.Areas.Residence.Mocks
@model MailEntry


@{
    ViewBag.Title = "Oneness | Mail Detail";
    Layout = "~/Areas/Residence/Views/Shared/_ResidenceLayoutPage.cshtml";
}
@section Scripts
{
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>

}


<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <a class="btn btn-block btn-primary compose-mail" href="@Url.Action("compose", "mail")">Compose Mail</a>
                        <div class="space-25"></div>
                        <h5>Folders</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            @foreach (var gfolder in SResidenceProvider.GenericFolders()) {
                                <li><a href="#"> <i class="fa @gfolder.FontAwesomeClass"></i> @gfolder.FolderName @Html.Raw(@gfolder.CountBadge) </a></li>
                            }
                        </ul>
                        <h5>Categories</h5>
                        <ul class="category-list" style="padding: 0">
                            @foreach (var category in SResidenceProvider.Categories()) {
                                <li><a href="#"> <i class="fa fa-circle text-@category.InfoClass"></i> @category.Description </a></li>
                            }
                        </ul>

                        <h5 class="tag-title">Labels</h5>
                        <ul class="tag-list" style="padding: 0">
                            @foreach (var tag in Model.MailTags) {
                                <li><a href="#"><i class="fa fa-tag"></i> @tag.Description</a></li>
                            }
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-10 animated fadeInRight">
            <div class="mail-box-header">
                <div class="pull-right tooltip-demo">
                    <a href="mail_compose.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Reply"><i class="fa fa-reply"></i> Reply</a>
                    <a href="#" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Print email"><i class="fa fa-print"></i> </a>
                    <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </a>
                </div>
                <h2>
                    View Message
                </h2>
                <div class="mail-tools tooltip-demo m-t-md">


                    <h3>
                        <span class="font-noraml">Subject: </span>@Model.Subject
                    </h3>
                    <h5>
                        <span class="pull-right font-noraml">@Model.SentOn</span>
                        <span class="font-noraml">From: </span>@Model.From
                    </h5>
                </div>
            </div>
            <div class="mail-box">

                <div class="mail-body">
                    @Html.Raw(@Model.MailBody)
                </div>
                <div class="mail-attachment">
                    <p>
                        <span><i class="fa fa-paperclip"></i> @Model.Attachments.Count attachments - </span>
                        <a href="#">Download all</a>
                        |
                        <a href="#">View all images</a>
                    </p>

                    <div class="attachment">
                        @foreach (var attachment in Model.Attachments) {
                            <div class="file-box">
                                <div class="file">
                                    <a href="#">
                                        <span class="corner"></span>

                                        @if (@attachment.IsFont) {
                                            <div class="icon">
                                                <i class="fa @attachment.FontAwesomeClass"></i>
                                            </div>
                                            <div class="file-name">
                                                @attachment.FileName
                                                <br />
                                                <small>Added: @attachment.AddedOn</small>
                                            </div>
                                        } else {
                                            <div class="image">
                                                <img alt="image" class="img-responsive" src="@attachment.Thumbnail.Base64">
                                            </div>
                                            <div class="file-name">
                                                @attachment.FileName
                                                <br />
                                                <small>Added: @attachment.AddedOn</small>
                                            </div>
                                        }
                                    </a>
                                </div>
                            </div>
                        }
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="mail-body text-right tooltip-demo">
                    <a class="btn btn-sm btn-white" href="mail_compose.html"><i class="fa fa-reply"></i> Reply</a>
                    <a class="btn btn-sm btn-white" href="mail_compose.html"><i class="fa fa-arrow-right"></i> Forward</a>
                    <button title="" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Print" class="btn btn-sm btn-white"><i class="fa fa-print"></i> Print</button>
                    <button title="" data-placement="top" data-toggle="tooltip" data-original-title="Trash" class="btn btn-sm btn-white"><i class="fa fa-trash-o"></i> Remove</button>
                </div>
                <div class="clearfix"></div>


            </div>
        </div>
    </div>
</div>