﻿@using Oneness.MVC.Areas.Residence.Models
@model IEnumerable<MailEntry>

@{
    ViewBag.Title = "ONENESS | Mailbox";
    Layout = "~/Areas/Residence/Views/Shared/_ResidenceLayoutPage.cshtml";
}
@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>

}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <a class="btn btn-block btn-primary compose-mail" href="@Url.Action("compose", "mail")">Compose Mail</a>
                        <div class="space-25"></div>
                        <h5>Folders</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            @foreach (var gfolder in SResidenceProvider.GenericFolders()) {
                                <li><a href="#"> <i class="fa @gfolder.FontAwesomeClass"></i> @gfolder.FolderName @Html.Raw(@gfolder.CountBadge) </a></li>
                            }
                        </ul>
                        <h5>Categories</h5>
                        <ul class="category-list" style="padding: 0">
                            @foreach (var category in SResidenceProvider.Categories()) {
                                <li><a href="#"> <i class="fa fa-circle text-@category.InfoClass"></i> @category.Description </a></li>
                            }
                        </ul>

                        <h5 class="tag-title">Labels</h5>
                        <ul class="tag-list" style="padding: 0">
                            @foreach (var tag in SResidenceProvider.MailTags()) {
                                <li><a href="#"><i class="fa fa-tag"></i> @tag.Description</a></li>
                            }
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-10 animated fadeInRight">
            <div class="mail-box-header">
                @using (@Ajax.BeginForm("search", "mail", new AjaxOptions() {
                    HttpMethod = "POST"
                }, new { @class = "pull-right mail-search" })) {
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" name="search" placeholder="Search email">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-primary">
                                Search
                            </button>
                        </div>
                    </div>
                }
                <h2>
                    Inbox (@Model.Count())
                </h2>
                <div class="mail-tools tooltip-demo m-t-md">
                    <div class="btn-group pull-right">
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>
                    </div>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inbox"><i class="fa fa-refresh"></i> Refresh</button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye"></i> </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as important"><i class="fa fa-exclamation"></i> </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </button>

                </div>
            </div>
            <div class="mail-box">
                <table class="table table-hover table-mail">
                    <tbody>
                        @foreach (var mail in Model) {
                            <tr class="@mail.ReadModeClass">
                                <td class="check-mail">
                                    <input type="checkbox" class="i-checks">
                                </td>
                                <td class="mail-ontact"><a href="@Url.Action("detail", "mail", new { id = mail.ID })">@mail.From</a>  <span class="label label-@(mail.MailCategory.InfoClass) pull-right">@mail.MailCategory.Description</span></td>
                                <td class="mail-subject"><a href="@Url.Action("detail", "mail", new { id = mail.ID })">@mail.Subject</a></td>
                                <td class=""><i class="fa @(mail.Attachments.Count > 1 ? "fa-paperclip" : String.Empty)"></i></td>
                                <td class="text-right mail-date">@mail.SentOn</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
