﻿@using Oneness.ViewModel.EntityViewModels.QuizViewModels;
@using Oneness.Localization.Resources;
@using Shared.Extensions.Core;
@using GridMvc.Html;

@model IEnumerable<LanguageViewModel>

@{
    ViewBag.Title = "Languages Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var nullDiff = "language-0";
}

@Html.Partial("LanguageForm", new LanguageViewModel())

<div class="page-header col-lg-6 col-lg-offset-3">
    <h2>@Html.Raw("CurrentLanguages".Translate())</h2>
    <button type="button" class="btn btn-sm pull-right" aria-label="Right Align" onclick="return ShowForm('@nullDiff');">
        @Html.Raw("AddNewLanguage".Translate())
        <span class="glyphicon glyphicon-align-right glyphicon-star" aria-hidden="true"></span>
    </button>
</div>

<div class="well-lg col-lg-6 col-lg-offset-3">
    <div id="warning-language-delete" class="alert pull-left" role="alert">

    </div>
    @Html.Grid(Model).Columns(columns => {
    columns.Add(item => item.ID).Titled("LanguageGridIDColumnTitle".Translate())
        .SetWidth(90).Sortable(true);
    columns.Add(item => item.Name)
        .Titled("LanguageNameTitle".Translate())
        .SetWidth(60)
        .Sortable(true);
    columns.Add(item => item.Description)
        .Titled("LanguageDescriptionTitle".Translate())
        .SetWidth(120)
        .Sortable(true);
    columns.Add()
        .Titled("AvailableCommands".Translate())
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(vm => @Html.Partial("AvailableLanguageCommands", vm));

}).WithPaging(20).Named("LanguagesGrid")
</div>
