﻿@using Oneness.ViewModel.EntityViewModels.QuizViewModels;
@using Oneness.Localization.Resources;
@using Shared.Extensions.Core;


@model SentenceViewModel

@{
    var submit = "SaveChanges".Translate();
    var diff = "sentence-{0}".PostFormat(Model.ID);
}

@Html.Partial("SentenceForm", Model, new ViewDataDictionary() { { "CurrentSentenceID", Model.ID } })

<script type="text/javascript">
    function onSentenceDeleteSuccess(data) {
        window.location.href = document.location.href;
    }
    function onSentenceDeleteFailure(data) {
        $('#warning-language-delete').removeClass('alert-*').addClass('alert-danger');
        $('#warning-language-delete').html(data.statusText);
    }
</script>

<div class="row">
    @Ajax.ActionLink("DeleteItemEntry".Translate(), "Delete", "Sentence"
            , new { SentenceIDToBeDeleted = Model.ID }
            , new AjaxOptions() { Confirm = "SentenceWillBeDeleted".Translate(), HttpMethod = "POST", OnSuccess = "onSentenceDeleteSuccess", OnFailure = "onSentenceDeleteFailure" })

    @Html.Raw("|")
    <a href="#" onclick="return ShowForm('@diff');">@Html.Raw("EditItemEntry".Translate())</a>
</div>
