﻿@using Oneness.ViewModel.EntityViewModels.QuizViewModels;
@using Oneness.Localization.Resources;
@using Shared.Extensions.Core;


@model LanguageViewModel

@{
    var submit = "SaveChanges".Translate();
    var diff = "language-{0}".PostFormat(Model.ID);
}

@Html.Partial("LanguageForm", Model, new ViewDataDictionary() { { "CurrentLanguageID", Model.ID } })

<script type="text/javascript">
    function onLanguageDeleteSuccess(data) {
        window.location.href = document.location.href;
    }
    function onLanguageDeleteFailure(data) {
        $('#warning-language-delete').removeClass('alert-*').addClass('alert-danger');
        $('#warning-language-delete').html(data.statusText);
    }
</script>

<div class="row">
    @Ajax.ActionLink("DeleteItemEntry".Translate(), "Delete", "Language"
            , new { LanguageIDToBeDeleted = Model.ID }
            , new AjaxOptions() { Confirm = "LanguageWillBeDeleted".Translate(), HttpMethod = "POST", OnSuccess = "onLanguageDeleteSuccess", OnFailure = "onLanguageDeleteFailure" })

    @Html.Raw("|")
    <a href="#" onclick="return ShowForm('@diff');">@Html.Raw("EditItemEntry".Translate())</a>
</div>
