﻿@using Oneness.ViewModel.EntityViewModels.QuizViewModels;
@using Oneness.Localization.Resources;
@using Shared.Extensions.Core;


@model QuizViewModel

@{
    var submit = "SaveChanges".Translate();
    var diff = "quiz-{0}".PostFormat(Model.SentenceViewModel.ID);
}

@Html.Partial("SentenceForm", Model.SentenceViewModel,
    new ViewDataDictionary() { { "CurrentSentenceID", Model.SentenceViewModel.ID }, { "CurrentQuizID", Model.ID }, { "ModelName", "quiz" } })

<script type="text/javascript">
    function onQuizDeleteSuccess(data) {
        console.log(data);
        $('#warning-quiz-delete').removeClass('alert-*').addClass(data.done ? 'alert-success' : 'alert-danger');
        if (!data.done) {
            $('#warning-quiz-delete').html(data.faultMessage);
        } else {
            window.location.href = document.location.href;
        }
    }
    function onQuizDeleteFailure(data) {
        console.log(data);
        $('#warning-quiz-delete').removeClass('alert-*').addClass(data.done ? 'alert-success' : 'alert-danger');
        if (!data.done) {
            $('#warning-quiz-delete').html(data.faultMessage);
        }
    }
</script>

<div class="row">
    @Ajax.ActionLink("DeleteItemEntry".Translate(), "Delete", "Quiz"
            , new { QuizIDToBeDeleted = Model.ID }
            , new AjaxOptions() { Confirm = "QuizWillBeDeleted".Translate(), HttpMethod = "POST", OnSuccess = "onQuizDeleteSuccess", OnFailure = "onQuizDeleteFailure" }) @Html.Raw("|") <a href="#" onclick="return ShowForm('@diff');">@Html.Raw("EditItemEntry".Translate())</a>
</div>
