﻿@using Oneness.ViewModel.EntityViewModels.QuizViewModels;
@using Oneness.Localization.Resources;
@using Shared.Extensions.Core;


@model ManifestViewModel

@{
    var submit = "SaveChanges".Translate();
    var diff = "manifest-{0}".PostFormat(Model.ID);
    var bodyID = "body-{0}".PostFormat(diff);
    var modalTitle = "AddNewManifestModalTitle".Translate();
    var languageID = (Model.LanguageViewModel ?? new LanguageViewModel() { ID = 0 }).ID;
    var sentenceID = (Model.SentenceViewModel ?? new SentenceViewModel() { ID = 0 }).ID;
}

<script type="text/javascript">
    function onLanguageAddSuccess(data) {
        window.location.href = document.location.href;
    }
    function onLanguageDeleteFailure(data) {
        $('#warning-manifest-delete').removeClass('alert-*').addClass('alert-danger');
        $('#warning-manifest-delete').html(data.statusText);
    }
</script>

<a href="#" class="hidden" id="bootstrap-modal-trigger-@diff"
   data-toggle="modal"
   data-target="#bootstrap-modal-@diff"></a>


@using (@Ajax.BeginForm("Add", new { CurrentManifestID = ViewData["CurrentManifestID"] }
                                , new AjaxOptions() { HttpMethod = "POST", OnSuccess = "onLanguageAddSuccess", OnFailure = "onLanguageDeleteFailure" }
                                , new { id = @bodyID, style = "position: absolute;" })) {
    Html.ValidationSummary(true);
    <div class="modal fade" id="bootstrap-modal-@diff" tabindex="-1" role="dialog" aria-labelledby="basicModal-@diff" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="bootstrap-modal-header-@diff" class="modal-header has-success">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title lampic-text-primary-glow" id="modal-title-@diff">@modalTitle</h4>
                </div>
                <div class="modal-body row">
                    <div class="col-md-2 col-xs-6"><img id="img-modal-body-@diff" src="" alt="verified" /></div>
                    <div class="col-md-7 col-xs-6">
                        <div id="modal-body-@diff">
                            <h1 class="grid-header"></h1>
                            <div class="row  col-sm-12">
                                <div class="input-group focus">
                                    @Html.LabelFor(vm => vm.LanguageViewModel)
                                    @Html.Partial("LanguageList", LanguageListViewModel.GetLanguageList(languageID), new ViewDataDictionary() { { "CurrentManifestID", Model.ID } })
                                    <span class="text-danger">@Html.ValidationMessageFor(m => m.LanguageViewModel)</span>
                                </div>
                            </div>
                            <div class="row  col-sm-12">
                                <div class="input-group">
                                    @Html.LabelFor(vm => vm.SentenceViewModel)
                                    @Html.Partial("SentenceList", SentenceListViewModel.GetSelectList(sentenceID), new ViewDataDictionary() { { "CurrentManifestID", Model.ID } })
                                    <span class="text-danger">@Html.ValidationMessageFor(m => m.SentenceViewModel)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="modal-body-close-@diff" type="button" class="btn btn-default" data-dismiss="modal">@Html.Raw("CancelSubmit".Translate())</button>
                    <button id="modal-body-save-@diff" type="submit" class="btn btn-primary">@Html.Raw("CommitSubmit".Translate())</button>
                </div>
            </div>

        </div>
    </div>
}

