﻿@using Oneness.ViewModel.EntityViewModels.QuizViewModels;
@using Oneness.Localization.Resources;
@using Shared.Extensions.Core;


@model SentenceViewModel

@{
    var submit = "SaveChanges".Translate();
    var diff = "{1}-{0}".PostFormat(Model.ID, ViewData["ModelName"] ?? "sentence");
    var bodyID = "body-{0}".PostFormat(diff);
    var modalTitle = "AddNewSentenceModalTitle".Translate();
    var warning = "warning-{0}-delete".PostFormat(ViewData["ModelName"] ?? "sentence");
}

<script type="text/javascript">
    function onSentenceAddSuccess(data) {
        window.location.href = document.location.href;
    }
    function onSentenceDeleteFailure(data) {
        $('#@warning').removeClass('alert-*').addClass('alert-danger');
        $('#@warning').html(data.statusText);
    }
</script>

<a href="#" class="hidden" id="bootstrap-modal-trigger-@diff"
   data-toggle="modal"
   data-target="#bootstrap-modal-@diff"></a>


@using (@Ajax.BeginForm("Add", new { CurrentSentenceID = ViewData["CurrentSentenceID"], CurrentQuizID = ViewData["CurrentQuizID"] }
                    , new AjaxOptions() { HttpMethod = "POST", OnSuccess = "onSentenceAddSuccess", OnFailure = "onSentenceDeleteFailure" }
                    , new { id = @bodyID, style = "position: absolute;" })) {
    Html.ValidationSummary(true);
    <div class="modal fade" id="bootstrap-modal-@diff" tabindex="-1" role="dialog" aria-labelledby="basicModal-@diff" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="bootstrap-modal-header-@diff" class="modal-header has-success">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title lampic-text-primary-glow" id="modal-title-@diff">@modalTitle</h4>
                </div>
                <div class="modal-body row">
                    <div class="col-md-2 col-xs-6"><img id="img-modal-body-@diff" src="" alt="verified" /></div>
                    <div class="col-md-7 col-xs-6">
                        <div id="modal-body-@diff">
                            <h1 class="grid-header"></h1>
                            <div class="row  col-sm-12">
                                <div class="form-group focus">
                                    @Html.LabelFor(vm=>vm.Text, new { @for = "vm-name-text-" + @diff })
                                    @Html.TextBoxFor(vm => vm.Text, new { @class = "form-control", id="vm-name-text-" + @diff, placeholder = "SentenceTextPlaceholder".Translate() })
                                    <span class="text-danger">@Html.ValidationMessageFor(m => m.Text)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="modal-body-close-@diff" type="button" class="btn btn-default" data-dismiss="modal">@Html.Raw("CancelSubmit".Translate())</button>
                    <button id="modal-body-save-@diff" type="submit" class="btn btn-primary">@Html.Raw("CommitSubmit".Translate())</button>
                </div>
            </div>

        </div>
    </div>
}

