﻿@using Oneness.MVC.Areas.Residence.Models
@using Oneness.MVC.Areas.Residence.Mocks
@model IEnumerable<FileItem>

@{
    ViewBag.Title = "ONENESS | File Manager";
    Layout = "~/Areas/Residence/Views/Shared/_ResidenceLayoutPage.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="file-manager">
                        <h5>Show:</h5>
                        @foreach (var type in SFileMock.FileTypes()) {
                            <a href="#" class="file-control">@type.Description</a>

                        }
                        <div class="hr-line-dashed"></div>
                        <button class="btn btn-primary btn-block">Upload Files</button>
                        <div class="hr-line-dashed"></div>
                        <h5>Folders</h5>
                        <ul class="folder-list" style="padding: 0">
                            @foreach (var folder in SFileMock.FileFolderItems()) {
                                <li><a href="#"><i class="fa fa-folder"></i> @folder.FolderName</a></li>
                            }
                        </ul>
                        <h5 class="tag-title">Tags</h5>
                        <ul class="tag-list" style="padding: 0">
                            @foreach (var tag in SFileMock.FileTags()) {
                                <li><a href="#">@tag.Description</a></li>
                            }
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    @foreach (var fileitem in Model) {
                        <div class="file-box">
                            <div class="file">
                                <a href="#">
                                    <span class="corner"></span>

                                    @if (fileitem.IsFont) {
                                        <div class="icon">
                                            <i class="fa @(fileitem.FontAwesomeClass)"></i>
                                        </div>
                                    } else {
                                        <div class="image">
                                            <img alt="image" class="img-responsive" src="@fileitem.Thumbnail.Base64">
                                        </div>
                                    }
                                    <div class="file-name">
                                        @fileitem.FileName
                                        <br />
                                        <small>Added: @fileitem.AddedOn</small>
                                    </div>
                                </a>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/residence/menu")
    <script>
        $(document).ready(function () {
            $('.file-box').each(function () {
                animationHover(this, 'pulse');
            });
        });
    </script>
}