﻿@using Oneness.ViewModel.EntityViewModels.QuizViewModels;
@model QuizViewModel

@using Oneness.Localization.Resources
@using Shared.Extensions.Core;

@{
    ViewBag.Title = "Take A Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well-lg">
    <p>@Html.Raw("QuizFormTitle".Translate())</p>
</div>

@foreach (var question in Model.QuestionViewModels) {
    @Html.Partial("QuestionView", question
            , new ViewDataDictionary() { { "CurrentQuizID", Model.ID } })
}

