﻿@using Oneness.ViewModel.EntityViewModels.QuizViewModels;
@using Oneness.Repository.Controllers.Base;
@model QuestionViewModel


@using Oneness.Localization.Resources
@using Shared.Extensions.Core;

@{
    var cancel = "CancelSubmit".Translate();
    var submit = "CommitSubmit".Translate();
    var panelID = "Panel-{0}".PostFormat(Model.ID);
}

<script type="text/javascript">

    function answerPosted(data, status, response) {
        var selector = "#Panel-" + data.qsid;
        console.log(selector);
        var args = {};
        args.ModalTitle = data.ModalTitle;
        args.ModalBody = data.ModalBody;
        args.Done = data.done;
        ShowModal(args);

    };

</script>


@using (Ajax.BeginForm("PostAnswer", "Quiz", new {
    CurrentQuestionID = Model.ID,
    CurrentQuizID = ViewData["CurrentQuizID"]
}, new AjaxOptions {
    HttpMethod = "POST",
    AllowCache = false,
    OnSuccess = "answerPosted"
})) {
    @Html.ValidationSummary(true)
    <div class="col-lg-6 col-xs-9">
        <div class="panel panel-primary" id="@panelID">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-9">
                        <h3 class="panel-title">@Html.Raw(Model.SentenceViewModel.ToCurrentUICulture())</h3>
                        <span>@Html.Raw("AnswerHelpBlock".Translate())</span>
                    </div>
                    <div class="col-lg-3">
                        <input type="submit" name="name" value="@submit" class="btn btn-success pull-right" />
                    </div>
                </div>
            </div>
            <div class="panel-body">
                @foreach (var answer in Model.AnswerViewModels) {
                    <div class="col-md-12">
                        <div class="radio">
                            @Html.RadioButtonFor(m => m.SelectedAnswer, answer.ID)
                            @Html.Label(answer.SentenceViewModel.ToCurrentUICulture()
                                , new { @for = "SelectedAnswer" })
                            <span class="text-danger" style="position: absolute;">@Html.ValidationMessageFor(m => m.SelectedAnswer)</span>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
}
