﻿@using Oneness.MVC.Areas.Atrium.Models
@model IEnumerable<LoginModel>

@{
    ViewBag.Title = "ONENESS | Contacts";
    Layout = "~/Areas/Residence/Views/Shared/_ResidenceLayoutPage.cshtml";
}
@section Scripts
{
    <script>
        $(document).ready(function () {
            $('.contact-box').each(function () {
                animationHover(this, 'pulse');
            });
        });
    </script>

}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Contacts</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index-2.html">Home</a>
            </li>
            <li>
                App Views
            </li>
            <li class="active">
                <strong>Contacts</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        @foreach (var loginModel in Model) {
            <div class="col-lg-4">
                <div class="contact-box">
                    <a href="@Url.Action("contact", "profile", new { id = loginModel.ID })">
                        <div class="col-sm-4">
                            <div class="text-center">
                                <img alt="image" class="img-circle m-t-xs img-responsive" src="@loginModel.AssociatedProfile.Avatar.Base64">
                                <div class="m-t-xs font-bold">@loginModel.AssociatedProfile.CoorporatePosition</div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h3><strong>@loginModel.AssociatedProfile.Identity</strong></h3>
                            <p><i class="fa fa-map-marker"></i> @loginModel.AssociatedProfile.Address</p>
                            <address>
                                <strong>@loginModel.AssociatedProfile.CoorporationName</strong><br>
                                @loginModel.AssociatedProfile.CoorporateAddressLine1<br>
                                @loginModel.AssociatedProfile.CoorporateAddressLine2<br>
                                <abbr title="Phone">P:</abbr> @loginModel.AssociatedProfile.CoorporatePhone
                            </address>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>


