﻿@using Oneness.MVC.Areas.Residence.Models
@model Profile

@{
    ViewBag.Title = "ONENESS | Edit Profile";
    Layout = "~/Areas/Residence/Views/Shared/_ResidenceLayoutPage.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Profile</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index-2.html">Home</a>
            </li>
            <li>
                <a>Extra Pages</a>
            </li>
            <li class="active">
                <strong>Edit @Model.Identity</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-3">

    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Edit Your Profile</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div>
                    <div class="ibox-content profile-content">
                        @using (Ajax.BeginForm("edit", "profile", new AjaxOptions() {
                            HttpMethod = "POST",
                            UpdateTargetId = "update-target"
                        }, new { @class = "form-horizontal", id = "profile-edit-form" })) {
                            @Html.ValidationSummary(true)
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.Surname, new { @class = "control-label" })
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon"><span class="fa fa-map-marker"></span></span>
                                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.CoorporatePosition, new { @class = "control-label" })
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon"><span class="fa fa-copyright"></span></span>
                                        @Html.TextBoxFor(m => m.CoorporatePosition, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.AboutMe, new { @class = "control-label" })
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon"><span class="fa fa-copyright"></span></span>
                                        @Html.TextAreaFor(m => m.AboutMe, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.CoorporateAddressLine1, new { @class = "control-label" })
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon"><span class="fa fa-map-marker"></span></span>
                                        @Html.TextAreaFor(m => m.CoorporateAddressLine1, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.CoorporateAddressLine2, new { @class = "control-label" })
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon"><span class="fa fa-map-marker"></span></span>
                                        @Html.TextAreaFor(m => m.CoorporateAddressLine2, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.CoorporatePhone, new { @class = "control-label" })
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon"><span class="fa fa-phone"></span></span>
                                        @Html.TextBoxFor(m => m.CoorporatePhone, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div id="validation-messages" class="alert alert-danger col-md-12">
                                <p>
                                    @Html.ValidationMessageFor(m => m.Name)
                                </p>
                                <p>
                                    @Html.ValidationMessageFor(m => m.Surname)
                                </p>
                                <p>
                                    @Html.ValidationMessageFor(m => m.Address)
                                </p>
                                <p>
                                    @Html.ValidationMessageFor(m => m.AboutMe)
                                </p>
                                <p>
                                    @Html.ValidationMessageFor(m => m.CoorporatePhone)
                                </p>
                                <p>
                                    @Html.ValidationMessageFor(m => m.CoorporateAddressLine1)
                                </p>
                                <p>
                                    @Html.ValidationMessageFor(m => m.CoorporatePosition)
                                </p>
                                <p>
                                    @Html.ValidationMessageFor(m => m.CoorporationName)
                                </p>
                            </div>
                            <div class="user-button">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <button type="submit" id="button-submit" class="btn btn-primary block full-width m-b"><i class="fa fa-refresh"></i> Save Changes</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="widget-head-color-box navy-bg p-lg text-center">
                <div class="m-b-md">
                    <h2 class="font-bold no-margins">
                        @Model.Identity
                    </h2>
                    <small>Would you like to provide a profile image?</small>
                </div>
                @using (Ajax.BeginForm("upload", null, new AjaxOptions() {
                    HttpMethod = "POST",
                    OnSuccess = "uploadComplete",
                    OnFailure = "uploadComplete",
                }, new { @class = "dropzone dz-clickable well", enctype = "multipart/form-data" })) {
                    <div class="fallback">
                        <input name="file" type="file" />
                    </div>
                    <img src="@Model.Avatar.Base64" style="height: 128px; width: 128px;" class="img-circle circle-border m-b-md" alt="profile" data-dz-thumbnail>
}
                <div>
                    <span>@Model.PostCount Posts</span> |
                    <span>@Model.FollowingCount Following</span> |
                    <span>@Model.FollowerCount Followers</span>
                </div>
            </div>
            <div id="upload-update-target">

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/residence/ajax")
    @Scripts.Render("~/bundles/residence/dropzone")
    <script>
        function uploadComplete(data) {

            console.log(data);
            var container = $('#upload-update-target');
            container.removeClass('text-*').addClass("text-" + data.InfoClass);
            container.text();
            container.text(done.Message);

        }

        $(document).ready(function () {

            $('#validation-messages').hide();
            $('#validation-messages').on("DOMNodeInserted", function (e) {
                var self = $('#validation-messages');
                if (self.text().trim() != "") {
                    self.show();
                } else {
                    simpleLoad($('#button-submit'), false);
                }
            });
            $('#validation-messages').on("DOMNodeRemoved", function (e) {
                var self = $('#validation-messages');
                if (self.text().trim() == "") {
                    self.hide();
                }
            });
            $('#button-submit').click(function () {
                btn = $(this);
                simpleLoad(btn, true);



                simpleLoad(btn, false)
            });
        });
        function simpleLoad(btn, state) {
            btn.children().addClass('fa-spin');
            btn.contents().last().replaceWith(" Loading");
            $.ajax().always(function () {
                btn.children().removeClass('fa-spin');
                btn.contents().last().replaceWith(" Refresh");
            });
        }
    </script>
}
@section ModalDialog{

    <div id="update-target">

    </div>
}
