﻿@using Oneness.MVC.Areas.Atrium.Models
@using Oneness.MVC.Areas.Residence.Models

@model LoginModel

@{
    ViewBag.Title = "ONENESS | Profile";
    Layout = "~/Areas/Residence/Views/Shared/_ResidenceLayoutPage.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Profile</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index-2.html">Home</a>
            </li>
            <li>
                <a>Extra Pages</a>
            </li>
            <li class="active">
                <strong>Profile</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Profile Detail</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="user-button">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="@Url.Action("edit")" class="btn btn-danger btn-rounded btn-outline col-md-10 col-md-offset-1"><i class="fa fa-edit"></i> Edit Profile</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ibox-content profile-content">
                        <div class="col-lg-12">
                            <div class="widget-head-color-box navy-bg p-lg text-center">
                                <div class="m-b-md">
                                    <h2 class="font-bold no-margins">
                                        @Model.AssociatedProfile.Identity
                                    </h2>
                                    <small>Founder of @Model.AssociatedProfile.CoorporationName</small>
                                </div>
                                <img src="@Model.AssociatedProfile.Avatar.Base64" style="height: 128px; width: 128px;" class="img-circle circle-border m-b-md" alt="profile">
                                <div>
                                    <span>@Model.AssociatedProfile.PostCount Posts</span> |
                                    <span>@Model.AssociatedProfile.FollowingCount Following</span> |
                                    <span>@Model.AssociatedProfile.FollowerCount Followers</span>
                                </div>
                            </div>
                            <div class="widget-text-box">
                                <h4 class="media-heading">@Model.AssociatedProfile.Identity</h4>
                                <p>@Model.AssociatedProfile.AboutMe.</p>
                                <div class="text-right">
                                    <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                    <a class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>
                                </div>
                            </div>
                        </div>
                        <div class="user-button">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-coffee"></i> Buy a coffee</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            @using (Ajax.BeginForm("activities", "profile", new { id = Model.AssociatedProfile.ID }
                        , new AjaxOptions() {
                            HttpMethod = "POST", UpdateTargetId = "activities-container", InsertionMode = InsertionMode.InsertAfter
                        })) {
                <div class="feed-activity-list" id="activities-container">
                    @Html.Partial("_Activities", SResidenceProvider.ActivitiesOfProfile(Model.AssociatedProfile.ID))
                </div>

                <button type="submit" class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> Show More</button>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/residence/ajax")
}

