﻿@using Oneness.MVC.Models
@model GenericModalView


<div class="modal inmodal" id="@(Model.ID)" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content animated @Model.AnimationClass">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@Model.CloseLabel</span></button>
                <h4 class="modal-title text-@(Model.AlertClass)">@Model.Title</h4>
                <small class="font-bold">@Model.Subtitle</small>
            </div>
            <div class="modal-body">
                <div class="alert alert-@(Model.AlertClass)">
                    @Html.Raw(Model.Body)
                </div>

            </div>
            <div class="modal-footer">
                <button id="modal-close" type="button" class="btn btn-white" data-dismiss="modal">@Model.CloseLabel</button>
                @if (Model.SaveChangesShown) {
                    <button type="button" class="btn btn-primary">Model.SaveChangesLabel</button>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $('#@(Model.ID)').modal({
        keyboard: true,
        show: true,
    });
</script>
@if (Model.OperationSucceeded) {
    <script>
        $('#modal-close').click(function () {
            document.location.href = "@(Model.RedirectRoute)";
        });
        $('#@(Model.ID)').on('hidden.bs.modal', function () {
            document.location.href = "@(Model.RedirectRoute)";
        })
    </script>
}