﻿body {
    background: url(Image/bg-o.png) no-repeat fixed;
    background-size: 100%;
}

/* Element Styling */

.outstand > * {
    color: #2980B9;
    text-shadow: 0px 0px 2px #0fbaad;
}

.box {
    display: inline-block;
}

.circle {
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: #FFF 0px 0px 5px;
}

.ll-button {
    border-radius: 5px;
    min-width: 10px;
    width: auto;
    height: 31px; 
    background-color: transparent;
    border: 1px solid #FFF;
    color: #FFF;
    text-shadow: 0px 0px 2px #d35400;
}

/* Rainbow Styling : idea by lovelypoet*/
.rb0 {
    color: #d35400;
    text-shadow: 0px 0px 2px #d35400;
}

.rb1 {
    color: #2980B9;
    text-shadow: 0px 0px 2px #d35400;
}

.rb2 {
    color: #27ae60;
    text-shadow: 0px 0px 2px #d35400;
}

.rb3 {
    color: #1abc9c;
    text-shadow: 0px 0px 2px #d35400;
}

.rb4 {
    color: #4bdd00;
    text-shadow: 0px 0px 2px #4bdd00;
}


/* Streaming */
section.stream {
    text-align: center;
    padding-top: 140px;
    width: 100%;
    height: 900px;
}

#stream-0 {
}

#stream-1 {
    /*background: #2980B9;*/
}

#stream-2 {
    /*background: #27ae60;*/
}

#stream-3 {
    /*background: #1abc9c;*/
}


/* Underline */

.underline {
    display: block;
    position: relative;
    padding: 0;
    width: 100%;
    height: 2px;
    bottom: 35%;
    right: 0;
    background-color: #FFF;
    -webkit-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

a:hover .underline {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    box-shadow: #FFF 0px 0px 7px;
}

/* Bootstrap modifications */
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #FFF;
    text-shadow: 0px -0px 2px #FFF;
}

a,
a:hover,
a:visited,
a:active {
    color: #101010;
    text-shadow: 0px -0px 2px #000;
    text-decoration: none;
}

header {
    box-shadow: white 0px 2px 5px;
    opacity: 0.7;
}
