﻿@using Oneness.MVC.Areas.Atrium.Models
@model LoginModel

@{
    ViewBag.Title = "ONENESS | Login";
    Layout = "~/Areas/Atrium/Views/Shared/_AtriumLayoutPage.cshtml";

}

<h3>Welcome to ON+</h3>
<p>
    Get Prepared For Non-Self
</p>
<p>Please Provide Us Your Credentials.</p>
@using (@Ajax.BeginForm("login", null, new AjaxOptions() {
    HttpMethod = "POST",
    AllowCache = false,
    UpdateTargetId = "update-target"
}, new { @class = "m-t", role = "form" })) {
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", placeholder = "Username", required = "" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password", placeholder = "Password", required = "" })
    </div>
    <div class="form-group">
        <div class="checkbox">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </div>
    </div>
    <button type="submit" id="button-submit" class="btn btn-primary block full-width m-b"><i class="fa fa-refresh"></i> Login</button>
    <a href="@Url.Action("Account", "ForgotPassword")"><small>Forgot password?</small></a>
    <p class="text-muted text-center"><small>Do not have an account?</small></p>
    <a href="@Url.Action("register")" class="btn btn-sm btn-white btn-block"><small>Create an account?</small></a>
}

@section Scripts{
}

@section ModalDialog{
    <div id="update-target">

    </div>
}