﻿@using Oneness.MVC.Areas.Atrium.Models
@model RegisterModel
@{
    ViewBag.Title = "ONENESS | Register";
    Layout = "~/Areas/Atrium/Views/Shared/_AtriumLayoutPage.cshtml";
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
}

<h3>Register to ON+</h3>
<p>
    Create account to see it in action.
</p>
@using (@Ajax.BeginForm("register", null, new AjaxOptions() {
    HttpMethod = "POST",
    AllowCache = false,
    UpdateTargetId = "update-target"
}, new { @class = "m-t", role = "form" })) {
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", type = "text", placeholder = "Name", required = "" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", type = "text", placeholder = "Surname", required = "" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", placeholder = "Email", required = "" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password", placeholder = "Password", required = "" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.PasswordConfirm, new { @class = "form-control", type = "password", placeholder = "Password Confirm", required = "" })
    </div>
    <div class="form-group">
        <div class="checkbox i-checks"><label> @Html.CheckBoxFor(m => m.PolicyAgreed)<i></i> Agree the terms and policy </label></div>
    </div>
    <button type="submit" id="button-submit" class="btn btn-primary block full-width m-b"><i class="fa fa-refresh"></i> Register</button>

    <p class="text-muted text-center"><small>Already have an account?</small></p>
    <a class="btn btn-sm btn-white btn-block" href="@Url.Action("login")">Login</a>
}
@section ModalDialog{
    <div id="update-target">

    </div>
}