﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/redirect/css")


</head>
<body class="gray-bg">
    
    @RenderBody()
    
    @Scripts.Render("~/bundles/redirect/main")
    @RenderSection("scripts", required: false)

</body>
</html>
